<div id="container-instructions">

    <h1>Questionaire</h1>

    <hr />

    <div class="instructions well">

        <p>
            Complete the following questionaire. Click on the red arrows to move on to the next page of questions, and then click on the blue 'next' button when you have finished answering all of them.
        </p>

        <p>
            <iframe src="https://rutgers.ca1.qualtrics.com/jfe/form/SV_5pX0p9OzWb4Nr6K" width="100%" height="800" frameborder="0"></iframe>
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
