<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    You will begin the experiment on the next page. It may take a few seconds to load. When you press the blue 'next' button at the end of the page, you will NOT be able to go back to the previous page. Make sure that you thoroughly completed the tasks presented on each page before you move onto the next one.
        </p>

        <p>
		    Do NOT refresh the page when you are in the middle of the experiment. 
        </p>

        <p>
		    We highly recommend that you connect your computer to a power source throughout the experiment. 
        </p>

        <p>
		    If the mouse acts strangely, try left-clicking on the Unity player with your mouse. Then the mouse should stay within the player.
        </p>

        <p>
		    If you need the mouse to leave the player during the experiment, press the 'esc' button on your keyboard. 
        </p>

        <p>
		    WARNING: The experiment will stop immediately if you are idle for over 10 minutes. We will give you partial monetary payment depending on how much you completed the experiment. 
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
